<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapor Paneli | <%= sayfaBasligi %></title>
    <link rel="stylesheet" href="/css/style.css">
    
    <%# YENİ EKLENEN SATIR %>
    <link rel="stylesheet" href="/css/print.css" media="print">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <div class="app-container">