<aside class="sidebar">
    <div class="sidebar-header">
        <h3>Rapor Paneli</h3>
    </div>
    <nav class="sidebar-nav">
        <ul class="menu">
            <li><a href="/"><i class="fa-solid fa-house"></i> Ana Sayfa</a></li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-chart-line"></i> Satış Raporları</span>
                <ul class="submenu">
                    <li><a href="/temsilci-performans">Temsilci Performansı</a></li>
                    <%# YENİ EKLENEN RAPOR LİNKLERİ %>
                    <li><a href="/top-5-satis">Top 5 Satış</a></li>
                    <li><a href="/top-10-satis">Top 10 Satış</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-sack-dollar"></i> Karlılık Raporları</span>
                 <ul class="submenu">
                    <li><a href="/urun-karlilik">Ürün Karlılığı</a></li>
                    <li><a href="/karlilik-marji-analizi">Kârlılık Marjı Analizi</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-scale-balanced"></i> Karşılaştırmalı Raporlar</span>
                 <ul class="submenu">
                     <li><a href="/temsilci-kiyaslama">Temsilci Kıyaslama</a></li>
                     <li><a href="/urun-kiyaslama">Yıllık Ürün Kıyaslama</a></li>
                </ul>
            </li>
            <li class="menu-item">
                 <span class="menu-title"><i class="fa-solid fa-lightbulb"></i> Stratejik Raporlar</span>
                <ul class="submenu">
                     <li><a href="/urun-potansiyeli">Ürün Potansiyeli</a></li>
                     <li><a href="/musteri-potansiyeli">Müşteri Potansiyeli</a></li>
                     <li><a href="/musteri-kayip-urun">Müşteri Kayıp/Yeni Ürün</a></li>
                     <li><a href="/musteri-deger-analizi">Müşteri Değer Analizi (ABC)</a></li>
                     <li><a href="/kayip-musteri-analizi">Kayıp Müşteri Analizi</a></li>
                     <li><a href="/temsilci-etkinlik-karnesi">Temsilci Etkinlik Karnesi</a></li>
                     <li><a href="/musteri-siparis-riski">Müşteri Sipariş Riski</a></li>
                     <li><a href="/musteri-bagimliligi">Müşteri Bağımlılığı Riski</a></li>
                </ul>
             </li>
             <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-tags"></i> Pazarlama & Fiyatlandırma</span>
               <ul class="submenu">
                    <li><a href="/fiyat-esnekligi">Fiyat Esnekliği Analizi</a></li>
                    <li><a href="/urun-kanibalizasyon">Ürün Kanibalizasyon Analizi</a></li>
               </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-calendar-days"></i> Dönem Raporları</span>
                <ul class="submenu">
                     <li><a href="/aylik-trend">Aylık Trend Grafiği</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-screwdriver-wrench"></i> Geliştirici Araçları</span>
                <ul class="submenu">
                    <li><a href="/ham-veri">Ham Veri Görüntüleyici</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>