<aside class="sidebar">
    <div class="sidebar-header">
        <h3>Rapor Paneli</h3>
    </div>
    <nav class="sidebar-nav">
        <ul class="menu">
            <li><a href="/"><i class="fa-solid fa-house"></i> Ana Sayfa</a></li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-chart-line"></i> Satış Raporları</span>
                <ul class="submenu">
                    <li><a href="/satislar">Detaylı Satışlar</a></li>
                    <li><a href="/temsilci-performans">Temsilci Performansı</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-sack-dollar"></i> Karlılık Raporları</span>
                <ul class="submenu">
                    <li><a href="/urun-karlilik">Ürün Karlılığı</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-scale-balanced"></i> Karşılaştırmalı Raporlar</span>
                <ul class="submenu">
                     <li><a href="/temsilci-kiyaslama">Temsilci Kıyaslama</a></li>
                     <li><a href="/urun-kiyaslama">Yıllık Ürün Kıyaslama</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-lightbulb"></i> Stratejik Raporlar</span>
                <ul class="submenu">
                     <li><a href="/urun-potansiyeli">Ürün Potansiyeli</a></li>
                     <li><a href="/musteri-potansiyeli">Müşteri Potansiyeli</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-title"><i class="fa-solid fa-calendar-days"></i> Dönem Raporları</span>
                <ul class="submenu">
                     <li><a href="/aylik-trend">Aylık Trend Grafiği</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>